<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HSPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" aria-current="page" href="/">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="rentProperty">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="addProperty">List Property (Free)</a>
        </li>
      </ul>
      <div *ngIf="loggedIn()" class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle  type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Welcome {{loggedIn()}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">View Dashboard</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">My Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Change Password</a></li>
          <li class="divider dropdown-divider"></li>
          <li *ngIf="loggedIn()" class="menuitem">
            <a class="dropdown-item" routerLinkActive="active" (click)="OnLogout()" [routerLink]="userLogin">Logout</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="userRegister">Register</a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="userLogin">Login</a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>
