
  <div class="card">
    <div class="img-wrapper">
      <img *ngIf="property.Image" class="card-img-top p-2"  src="assets\Images\{{property.Image}}">
      <img *ngIf="!property.Image" class="card-img-top p-2" src="assets\Images\clipArtImage.jpg">
      <ul class="list-inline text-center member-icons">
        <li class="list-inline-item">
          <button class="btn btn-primary" [routerLink]="detailPropertyPath+'/'+property.Id"><i class="fa fa-edit"></i></button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary"  routerLinkActive="router-link-active"  ><i class="fa-solid fa-floppy-disk"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="card-body p-2">
      <h1>{{property.Name}}</h1>
      <h2>{{property.Type}}</h2>
      <h3>{{property.Price}}</h3>
    </div>
</div>

